.profile-links {
    width: 400px;
    height: auto;
    text-align: center;
    margin: 240px auto;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    padding: 1px 0px 20px 0px;
    
    }
.profile-image{
    display:block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 120px auto 29px auto;
    
    border: 4px solid hsl(0, 0%, 8%);
}
body{
    
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
}

.name{
    margin-bottom: 10px;
    font: bold 24px 'Inter', sans-serif;
}
.location{
    margin:10px;
    padding: 10px;
    color: hsl(75, 94%, 57%);
    font: bold 14px 'Inter', sans-serif;
}
ul{
    list-style: none;
    display: block;
    padding: 10px;
}

li{
    padding: 14px;
    margin: 14px;
    background-color: hsl(0, 0%, 16%);
    border-radius: 8px;
    cursor:pointer;
    font: bold 14px 'Inter', sans-serif;
    
}
li:active{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.attribution {
    color:beige;
    }
